.border-black {
  border: 2px solid black;
}
@media (min-width: 375px) {
  .contact-container,
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }

  .contact div a {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
  }

  .contact a:hover {
    color: rgb(168, 168, 168);
    transition: 0.5s all ease;
  }

  .contact-container div {
    font-size: 3rem;
  }
  .contact div {
    font-size: 1rem;
  }
  .position-fixed {
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .contact-container {
    margin-top: 70px;
  }

  .contact {
    padding-bottom: 317px;

    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
  }

  .contact div {
    font-size: 2rem;
  }

  .position-fixed {
    bottom: 0;
  }
}
