.border-black {
  border: 2px solid black;
}
@media (min-width: 375px) {
  .contact-container {
    padding-top: 100px;
  }
  .contact-container,
  .contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .contact {
    padding-bottom: 50px;
  }

  .contact-container div {
    font-size: 3rem;
  }
  .contact div {
    font-size: 1rem;
  }
  .contact a,
  .contact span {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    cursor: pointer;
  }
  .contact a:hover,
  .contact span:hover {
    color: rgb(157, 157, 157);
    transition: 0.5s all ease;
  }
  .invisible {
    display: none;
  }
  .down-arrow {
    font-size: 5rem;
    /* border: 2px solid black; */
    width: 25vw;
    text-align: center;
  }
  .left-arrow {
    display: none;
  }
}

@media (min-width: 768px) {
  .down-arrow {
    display: none;
  }

  .contact a,
  .contact span {
    font-size: 2rem;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .contact-details-container {
    width: 40%;
  }

  .div-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  .left-arrow {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
  }
}

@media (min-height: 1000px) {
  .contact {
    height: 50vh;
  }
}
