.border-white {
  border: 3px solid white;
}

.border-black {
  border: 5px solid black;
}

.project-details-container {
  overflow: hidden;
}
@media (min-width: 0px) {
  .projects {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    width: 100%;
    padding-bottom: 30px;
  }

  .project-h1 {
    margin-top: 100px;
  }

  .progress-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .progress-container.black {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }

  .progress-container.white {
    background-color: #fff;
    color: rgb(0, 0, 0);
  }

  .empty-container {
    border: 2px solid black;
    display: none;
    margin-top: 20px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .progress-bar {
    width: 100%;
  }

  .empty-row {
    margin-top: 20px;
  }

  .project-preview img {
    margin-top: 10px;
  }
  .project-preview .view-button {
    margin-top: 10px;
  }

  .progress-container span {
    font-size: 1rem;
  }

  .progress-container p {
    font-size: 1rem;
    width: 50%;
  }

  .sidebar-hide {
    display: none;
  }

  .sidebar-display {
    display: inherit;
  }
}

.project-details-container {
  overflow: hidden;
}

@media (min-width: 768px) {
  .projects {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .project-h1 {
    margin-top: 20px;
  }

  .main-progress-container {
    display: flex;
    flex-wrap: wrap;
  }

  .progress-container {
    width: 100%;
  }
  .progress-container img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  .empty-container.empty {
    display: inherit;
    visibility: hidden;
    width: 33.33%;
    /* margin-top: 20px;
    visibility: none;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
  }

  .progress-container.black,
  .progress-container.white {
    width: 33.33%;
  }

  .project-preview img {
    margin-top: 0;
    margin-left: 1px;
    padding-bottom: 20px;
  }
}
