@media (min-width: 375px) {
  .contact-container {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 70px;
  }

  .contact {
    text-decoration: none;
    list-style: none;
  }
}
